# Install PyTorch supporting cuda version 11020
--index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio 

numpy==1.26.4
matplotlib==3.8.3


tensorflow==2.18.0
ray[tune]==2.38.0